!!!
include credits.txt
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    title= title
    meta(name="viewport", content="width=device-width")
    != css('style')
    != js('vendor/modernizr-2.6.1.min')
    include opengraph
    include analytics
    include fonts
    != css('vendor/jquery-ui-1.8.24.custom.css')
    block head
  body

    header
      h1 Tacos Kokopelli
      nav
        ul
          li: a(href="/") Menú
          li: a(href="/location") Encuéntranos
          li: a(href="/events") Eventos
    #main

      block content

      footer.center-block
        .left
          .location
            each location in locations
              h3 #{location.name} — #{location.schedule}
              p= location.location

        .right
          p Estamos en&nbsp;
            a(href="https://www.facebook.com/pages/Tacos-kokopelli/150243071740392") Facebook
            span &nbsp;y&nbsp;
            a(href="https://www.twitter.com/tkokopelli") Twitter
          p Sitio desarrollado por&nbsp;
            a(href="http://reaktivo.com") Reaktivo


    != js('app')
    block scripts