#events
  margin 40px 0
  padding-bottom 80px
  border-bottom 10px solid mainColor
  
  textarea
    height 5em
    width 640px
    box-sizing border-box
  
  .control-group
    position relative
    border-bottom 1px solid rgba(0,0,0,0.1)
    label
      display block
      margin 10px 0
    .right
      position absolute
      right 0
      top 0
    .amount
      width 2em
      
  .salsas
    font-weight bold
    
  .help
    font-size 12px
    color lighten(mainColor, 10%)
    
  .wrapper
    overflow hidden
    
  .col
    float left
    margin-right 20px
    
  .row
    margin-bottom 20px
    label
      display block
      
  #location-map
    width 640px
    height 300px
    
  .total-row
    overflow hidden
    h2
      float left
      line-height 30px
      margin 10px 0
    .right
      float right
      line-height 30px
      margin 10px 0