#map
  margin 40px auto
  display block
  width 640px
  padding 5px
  background #fff
  border 1px solid mainColor
  overflow hidden
  -webkit-box-shadow 1px 1px 5px rgba(0,0,0,0.5)
  -moz-box-shadow 1px 1px 5px rgba(0,0,0,0.5)
  box-shadow 1px 1px 5px rgba(0,0,0,0.5)
