.menu
  background #eee       
  padding-bottom 200px
  
  .taco
    height 600px
    width 800px
    overflow hidden
    margin 0 auto -120px
    clear both
    position relative
    background-repeat no-repeat
    background-position center center
  .info
    position absolute
    h2, p
      margin 0
    .price
      font-size 13px
      color altColor2
