.menu
  background #eee
  padding-bottom 200px
  @media (max-width: 320px)
    padding-bottom 0

  .taco
    height 600px
    width 800px
    overflow hidden
    margin 0 auto -120px
    clear both
    position relative
    background-repeat no-repeat
    background-position center center
    @media (max-width: 320px)
      width 320px
      height 214px
      margin-bottom 0
      background-size cover
  .info
    position absolute
    h2, p
      margin 0
    .description
      font-size 13px
      color altColor2
