@import "vendor/normalize.css"
@import "vendor/boilerplate.css"

lightColor = #F1E9BB
mainColor = #5C483A
altColor1 = #C92C2C
altColor2 = #CF6123
altColor3 = #F3C363
borderStyle = 1px solid lighten(mainColor, 60%)

body
  color mainColor
  background lightColor url(../img/dust.png)
  font-family Arvo, sans-serif
  
a
  color mainColor
  text-decoration none

.center-block
  width 640px
  margin 0 auto

header
  // taken from http://www.nal.usda.gov/awic/images/octopus.gif
  background #ed8000 url(../img/octopus.jpg) no-repeat center top
  padding-top 472px
  width 100%
  position relative
  h1
    position absolute
    padding-left 361px
    width 0
    top -250px
    height 195px
    overflow hidden
    background url(../img/kokopelli.png)
      
  nav
    border-top borderStyle
    border-bottom borderStyle
    width 100%
    background lighten(lightColor, 80%)
    ul
      padding 0
      display block
      text-align center
      margin 0 auto
      li
        display inline-block
        a
          display block
          padding 20px
          font-size 24px
          border-left borderStyle
          &:hover
            color lighten(altColor2, 90%)
            background altColor2
         &:last-child a
            border-right borderStyle
  

footer
  padding 40px 0
  a
    border-bottom 1px solid mainColor
  overflow hidden
  .left
    float left
  .right
    float right
    text-align right
    
    
@import menu
@import location
@import events
